<div>
<div id="fab-dismiss" 
     *ngIf="fabTogglerState==='active'" 
     (click)="onToggleFab()">
</div>
<div class="fab-container">
    <button mat-fab class="fab-toggler"
            (click)="onToggleFab()">
      <i [@fabToggler]="{value: fabTogglerState}">add</i> <!-- Animation here -->
    </button>
    <div class="fab-toggler2" [@speedDialStagger]="buttons.length"> <!-- and here -->
      <button lass="fab-toggler3" (click)="onFloatClick(btn)" *ngFor="let btn of buttons"
              mat-mini-fab
              class="fab-secondary"
              color="secondary">
        <i class="material-icons">{{btn.icon}}</i>
      </button>
    </div>
  </div>
</div>
<div *ngIf="home">
    <p>Home</p>
</div>
<div *ngIf="india">
    <div fxFlex="20" class="example-card" *ngFor="let state of statewise">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{state.state}}</mat-card-title>
          </mat-card-header>
         <mat-card-content>
            <p>Active Cases - {{state.active}}</p>
            <p>Deaths - {{state.deaths}}</p>
            <p>Recovered - {{state.deltarecovered}}</p>
          </mat-card-content>
        </mat-card>
      </div>
</div>
